# Supabase backend (shared with CMS)
VITE_SUPABASE_URL="https://fchjceghgucmckrradcd.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjaGpjZWdoZ3VjbWNrcnJhZGNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1ODA0NTQsImV4cCI6MjA5NjE1NjQ1NH0.UP14JKV2qS6QY-j1gKLuUkE0_jZ8VB8Tl04g5ttlKsM"

# Tenant ID Fudao Scrunchie = tenant 'rossieanna-craft' di DB
VITE_TENANT_ID="9416a55e-b113-417d-b31e-2a048ded84be"
